<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Howdy Foodie!</p>

<p>
  Thanks for getting in touch through www.aFoodie.Me. We'll soon recommend dishes around Pune & Mumbai and keep you stuffed.
  Meanwhile, continue posting your reviews through us.
  <br/><br/>
</p>
<p>
  DONT stay hungry & Stay Foolish.<br/>
  Bon Appétit<br/>
</p>

<p>
  Regards,<br/>
  #EveryoneIsAFoodie Team<br/>
  Pune, India<br/>
  <a href="https://facebook.com/aFoodie.Me" target="_blank">
    <img id="fb" src="/assets/facebooka.png"/>
  </a>
  <a href="https://twitter.com/PuneFoodAlerts/status/419190747238117376/photo/1" target="_blank" class="social">
    <img id="tw" src="/assets/twittera.png" />
  </a>
</p>

</body>
</html>