<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Howdy Foodie!</p>

<p>
  Thanks for getting in touch via www.aFoodie.Me. To keep you stuffed, soon we'll recommend you dishes around Pune & Bombay.
  Meanwhile, continue posting.
  <br/><br/>
</p>
<p>
  DONT Stay Hungry & Foolish!<br/>
  Bon Appétit<br/>
</p>

<p>
  Regards,<br/>
  #EveryoneIsAFoodie Team<br/>
  Pune, India<br/><br/>

  <a href="https://facebook.com/aFoodie.Me" target="_blank">
    <%= image_tag attachments['fbicon.png'].url %>
  </a>
  <a href="https://twitter.com/PuneFoodAlerts/status/419190747238117376/photo/1" target="_blank" class="social">
    <%= image_tag attachments['twittericon.png'].url %>
  </a>
</p>

</body>
</html>