<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
 <%= @tweet.username %> tweeted from aFoodie.me        <br/>
 Tweet Content: <%= @tweet.body %> <br/>
 Tweet Date: <%= @tweet.created_at %><br/>
 <% if @tweet.username == 'JohnDoe' %>
    Log into Admin To <%= link_to "Publish", 'http://aFoodie.me/admin' %>
 <%end%>
</p>
</body>
</html>