<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Someone tweeted in aFoodie.me. Publish</h1>
<p>
 Log into <%= link_to "Adimin", '/admin' %>
  <br>
</p>
</body>
</html>