<input type="hidden" name="splitreview[its_anonymous]" id="its_anonymous" value="false">
<div id="infoToggler">
  <img src="/assets/liked_new.png"  width="45px" height="45px"/>
  <img src="/assets/disliked_new.png"  width="45px" height="45px" style="display:none"/>
  <!--<label class="label-for-checkbox" id="disliked_label" style="margin-left: 4px; display: inline;">Liked</label>-->
  <input type="hidden" name="splitreview[liked_dish]" id="liked_dish" value="true">
</div>
<input autocomplete="off" class="review_boxes" id="review_dishname" name="splitreview[review_dishname]" placeholder="Type Dish Name" type="text" />
<input autocomplete="off" class="review_boxes" id="review_placename" name="splitreview[review_placename]" placeholder="Restaurant" type="text" />

<select name="splitreview[city]" id="review_city">
  <option value="Pune" selected="selected">City</option>
  <option value="Pune">Pune</option>
  <option value="Mumbai">Bombay</option>
</select>

<input autocomplete="off" class="review_boxes" id="review_thoughts" name="splitreview[review_thoughts]" placeholder="Other thoughts" type="text" />


<style>

    select {
        display:inline-block;
        width:120px;
        background-color:#f5f5f5;
        border:none;
        outline:none;
        padding-top:8px;
        margin-top:20px;
        height:40px;
        position:relative;
    }

    #infoToggler {
        display: inline;
        margin-right: 20px;
    }

    #review_dishname{
        width: 180px;
    }

    #review_thoughts{
        width: 290px;
    }

    #review_placename{
        width: 230px;
    }

    input.review_boxes
    {
        margin-top: 20px;
        text-align:center;
        -webkit-appearance: none;
        background: #f5f5f5;
        padding: 0.80em;
        -moz-transition: background-color 0.35s ease-in-out;
        -webkit-transition: background-color 0.35s ease-in-out;
        -o-transition: background-color 0.35s ease-in-out;
        -ms-transition: background-color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out;
    }

    input.review_boxes:focus
    {
        background: #f2f2f2;
    }

    @media (max-width: 600px) {
        #review_dishname{
            width: 195px;
        }

        #review_city{
            width: 290px;
        }

        #review_thoughts{
            width: 270px;
        }

        #review_placename{
            width: 270px;
        }

    }

</style>



<script>

    $(document).ready(function(){
        $("#infoToggler").click(function() {
            $(this).find('img').toggle();
            var hiddenField = $('#liked_dish'),
            val = hiddenField.val();
            hiddenField.val(val === "false" ? "true" : "false");
            $('#disliked_label').text($('#disliked_label').text() == "Liked" ? "Disliked" : "Liked");
            console.log("new value: " + hiddenField.val());
        });
    });
</script>