<input type="hidden" name="splitreview[its_anonymous]" id="its_anonymous" value="false">
<div id="infoToggler">
  <img src="/assets/i_Liked_Button.png"  width="50px" height="45px" style="margin-top: 15px;"/>
  <img src="/assets/i_Dislike_Button.png"  width="50px" height="45px" style="display:none; margin-top: 20px;"/>
  <!--<label class="label-for-checkbox" id="disliked_label" style="margin-left: 4px; display: inline;">Liked</label>-->
  <input type="hidden" name="splitreview[liked_dish]" id="liked_dish" value="true">
</div>
<input autocomplete="off" class="review_boxes" id="review_dishname" name="splitreview[review_dishname]" placeholder="Dish  Eg:Pizza" type="text" />
<input autocomplete="off" class="review_boxes" id="review_placename" name="splitreview[review_placename]" placeholder="Restaurant  Eg:BBQ Nation" type="text" />


<div class="styled-select green rounded">
    <select name="splitreview[city]" id="review_city">
      <option value="Pune" selected="selected">Choose City</option>
      <option value="Pune">#Pune</option>
      <option value="Mumbai">#Bombay</option>
    </select>
</div>




<input autocomplete="off" class="review_boxes" id="review_thoughts" name="splitreview[review_thoughts]" placeholder="Other Thoughts..." type="text" />


<style>


    #infoToggler {
        display: inline;
        margin-right: 12px;
    }

    #review_dishname{
        width: 180px;
    }

    #review_thoughts{
        width: 275px;
        text-align:center;
    }

    #review_placename{
        width: 225px;
        text-align:center;
    }

    input.review_boxes
    {
        margin-top: 20px;
        -webkit-appearance: none;
        background: #f5f5f5;
        padding: 0.80em;
        -moz-transition: background-color 0.35s ease-in-out;
        -webkit-transition: background-color 0.35s ease-in-out;
        -o-transition: background-color 0.35s ease-in-out;
        -ms-transition: background-color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out;
    }

    input.review_boxes:focus
    {
        background: #f2f2f2;
    }

    @media (max-width: 600px) {
        #review_dishname{
            width: 195px;
        }

        #review_city{
            width: 290px;
        }

        #review_thoughts{
            width: 270px;
        }

        #review_placename{
            width: 270px;
        }

    }



    .styled-select {
        display:inline-block;
        background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 100% 0;

        height: 40px;
    }

    .styled-select select {
        background: transparent;
        border: none;
        height: 40px;
        padding: 5px; /* If you add too much padding here, the options won't show in IE */
        width: 120px;
        -moz-appearance: none !important;
        /*for chrome*/
        -webkit-appearance:none;
        appearance: none !important;
        border: 0 !important;
    }

    .rounded {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .green   { background-color: #89AE44; }
    .green select   { color: #fff; }

</style>



<script>

    $(document).ready(function(){
        $("#infoToggler").click(function() {
            $(this).find('img').toggle();
            var hiddenField = $('#liked_dish'),
            val = hiddenField.val();
            hiddenField.val(val === "false" ? "true" : "false");
            $('#disliked_label').text($('#disliked_label').text() == "Liked" ? "Disliked" : "Liked");
            console.log("new value: " + hiddenField.val());
        });
    });
</script>