<h1>Listing Tweets</h1>

<table class="table table-hover">
  <tr>
    <th>Tweet</th>
    <th>John Doe</th>
  </tr>

  <% @tweets.each do |tweet| %>
      <%= form_for(tweet, :html => {:multipart => true, :class=> '.form-inline'} ) do |t| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= tweet.johndoe%></td>
        <td><%= %></td>
      </tr>
  <% end %>
  <% end %>
</table>