// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pageheader{
  width: 100%;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
  color: inherit;
  text-decoration: none;
}

.label-for-tweet {
  color: #66757F;
  font-size: 24px;
  font-weight: 200;
  line-height: 22px;
  font-family: sans-serif;
  padding-right:10px;
  padding-top: 2px;
  float:left;
}

input.checkbox{
  margin-top: -1px;
}

.label-for-checkbox {
  color: #668988;
  font-size: 13px;
  font-weight: 200;
  line-height: 46px;
  font-family: sans-serif;
  padding-left: 0px;
  margin: auto;
  width: 100%;

}

.tweet-form .tweet-btn {
  display: inline-block;
}
.tweet-btn, .tweet-btn:focus {
  background: none repeat scroll 0 0 rgba(0, 132, 180, 0.8);
  color: #FFFFFF;
}

.tweet-btn:hover, .tweet-btn:active, .tweet-btn.active {
  background-color: #0084B4;
}

.tweet-btn.btn.disabled, .tweet-btn.btn.disabled:hover, .tweet-btn.btn[disabled], .tweet-btn.btn[aria-disabled="true"] {
  background: none repeat scroll 0 0 #0084B4;
}

tweet-btn {
  color: #FFFFFF;
  text-align: center;
}





input.text,
select,
textarea
{
  margin: auto;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #f5f5f5;
  width: 600px;
  padding: 0.90em;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

input.text:focus,
select:focus,
textarea:focus
{
  background: #f2f2f2;
}

textarea
{
  min-height: 12em;
}

.formerize-placeholder
{
  color: #5a5959 !important;
}

::-webkit-input-placeholder
{
  color: #5a5959 !important;
}
 :-moz-placeholder
{
  color: #5a5959 !important;
}

::-moz-placeholder
{
  color: #5a5959 !important;
}

:-ms-input-placeholder
{
  color: #5a5959 !important;
}

::-moz-focus-inner
{
  border: 0;
}

input.text,
select
{
  margin: auto;
  line-height: 1em;
}

form ul.actions
{
  margin-bottom: 0;
  text-align: center;
}


.button
{

  margin-top: 15px;
  display: inline-block;
  border-radius: 0.45em;
  color: #fff !important;
  text-decoration: none;
  padding: 0.75em 2.5em 0.75em 2.5em;
  background-color: #8ebebc;
  border: 0;
  cursor: pointer;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.30));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.30));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.30));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.30));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.30));
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

.button:hover
{
  background-color: #0084B4;
}

.button:active
{
  background-color: #7eaeac;
}

#inner{
  margin: auto;
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}

a
{
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  border-bottom: dotted 1px rgba(128,128,128,0.5);
  -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  outline: 0;
  padding-left: 0px;
  margin-left: 54px;
  margin-bottom: 20px;
}

a:hover
{
  text-decoration: none;
  color: #0084B4;
  background-color:none;
  border-bottom-color: rgba(255,255,255,0);
}


@media (max-width: 960px) {
  input.text,
  select,
  textarea
  {
    width: 280px;
    height: 200px;
    padding: 0.90em;
  }

}